/*A gregando estilos:

Posicionamiento --> static, absolute, relative, fixed

Modelo de caja (Box model) --> margin, border, padding, content

Tipografía --> tipos, tamaños de fuente, etc

Estilos visuales --> box-shadow, border-radius, gradient, etc

Otros --> reglas CSS y más */


:root{
    /*colores*/
    --bitcoin-orange:#f7931A;
    --soft-orange:#ffe9d5;
    --secondary-blue:#1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white: #FFFFFF;
   }
   *{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
   }
   html{
       font-size: 62.5%;
       font-family: 'DM Sans', sans-serif;
       
   }
   header{
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 100%;
       min-width: 320px;
       height: 334px;
       text-align: center;
       background-color: var(--soft-blue)
       ;
   }
   header img{
       width: 36px;
       margin-top: 60px;
       align-self: center;    
   
   }
   
main{
    background-color: lightslategray;
}
   .header--tittle-container{
       width: 90%;
       min-width: 288px;
       max-width: 900px;
       height: 218px;
       margin-top: 40px;
       text-align: center;
       align-self: center;
   }
   .header--tittle-container h1{
       font-size: 2.4rem;
       font-weight: bold;
       line-height: 2.6rem;
       color: var(--secondary-blue);
       
   }
   .header--tittle-container p{
       margin-top: 2.5rem;
       font-size: 1.4rem;
       font-weight: 500;
       line-height: 1.8rem;
       color: var(--secondary-blue);
   
   }
   .header--tittle-container .header--buttom{
       position: absolute;
       left: calc(50% - 118px);
       top: 270px;
       display: block;
       margin-top: 35px;
       padding: 15px;
       width: 229px;
       height: 48px;
       background-color: var(--off-white);
       /*Sombra*/
       box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
       border: none;
       border-radius: 5px;
       font-size: 1.4rem;
       font-weight: bold;
       text-decoration: none;
       color: lightslategray    ;
   }
.contenedor-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    min-width: 300px;
    height: 1200px;
    background-color: lightslategrey  ;
    margin: 0 auto;
    padding-bottom: 10px;
}
.input-text{
    width: 60%;
    height: 200px;
}
.mensaje{
    width: 60%;
    height: 220px;   
}
.botones{
    width: 60% ;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: lightslategray;
}
.encriptar{
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: lightslategray    ;
}
.desencriptar{
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: lightslategray ;
}
.copiar{
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: lightslategray ;
}   